#!/bin/bash

#
# elastiq.default.example -- by Dario Berzano <dario.berzano@cern.ch>
#
# See: http://github.com/dberzano/elastiq
#
# Environment script used by the elastiq daemon. This file is optional and it is not used by default
# but if you have special needs you can save it to one of the following locations:
#
#   ~/.elastiq.default
#   /etc/default/elastiq
#   /etc/sysconfig/elastiq
#
# The first one found is loaded. This is a script "sourced" by the launch command.
#
# This specific example loads Python 2.7 from CVMFS before starting elastiq.
#

if [[ -d '/cvmfs/sft.cern.ch' ]] ; then

  # GCC
  source /cvmfs/sft.cern.ch/lcg/external/gcc/4.7.2/x86_64-slc6-gcc47-opt/setup.sh ''  # empty arg needed!

  # Python 2.7
  export PythonPrefix=/cvmfs/sft.cern.ch/lcg/external/Python/2.7.3/x86_64-slc6-gcc47-opt
  export PATH="$PythonPrefix/bin:$PATH"
  export LD_LIBRARY_PATH="$PythonPrefix/lib:$LD_LIBRARY_PATH"

  # Boto
  export PyBotoPrefix='/var/lib/condor/boto'
  export PATH="$PyBotoPrefix/bin:$PATH"
  export LD_LIBRARY_PATH="$PyBotoPrefix/lib:$LD_LIBRARY_PATH"
  export PYTHONPATH="$PyBotoPrefix/lib/python2.7/site-packages:$PYTHONPATH"

  #
  # elastiq variables
  #

  export elastiqUser='condor'
  export elastiqLogFileDir=$( cd "$PWD"/../var/log ; pwd )

fi
